name: Deploy (Production)

on:
 push:
   branches: [production]

permissions:
  contents: read
  pull-requests: write

jobs:
  deploy-app:
    runs-on: ubuntu-latest
    environment: production
    steps:
     - name: Checkout repository
       uses: actions/checkout@v4
     - name: Deploy the app
       uses: digitalocean/app_action/deploy@v2
       with:
         token: ${{ secrets.DIGITAL_OCEAN_ACCESS_TOKEN }}
         app_spec_location: .do/app.prod.yaml
       env:
         APP_ID: ${{ vars.APP_ID }}
         PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
         WEBHOOK_SECRET_GITHUB: ${{ secrets.WEBHOOK_SECRET_GITHUB }}
         WEBHOOK_SECRET_GITLAB: ${{ secrets.WEBHOOK_SECRET_GITLAB }}
         GITLAB_PAT: ${{ secrets.GITLAB_PAT }}
         OPENROUTER_API_KEY: ${{ secrets.OPENROUTER_API_KEY }}
         OPENROUTER_SITE_URL: ${{ vars.OPENROUTER_SITE_URL }}
         OPENROUTER_APP_TITLE: ${{ vars.OPENROUTER_APP_TITLE }}
         LANGFUSE_SECRET_KEY: ${{ secrets.LANGFUSE_SECRET_KEY }}
         LANGFUSE_PUBLIC_KEY: ${{ vars.LANGFUSE_PUBLIC_KEY }}
         LANGFUSE_BASE_URL: ${{ vars.LANGFUSE_BASE_URL }}